
@{
    ViewData["Title"] = "Hasan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burası Hasanın Mekanı</h1>
<h2>Fiyat Listesi</h2>

<table class="center">
  <tr>
    <th>sgyu</th>
    <th>İçecek</th>
    <th>Fiyat</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Kola</td>
    <td>10₺</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Fanta</td>
    <td>7₺</td>
  </tr>
</table>


